language: node_js
node_js:
  - "8"
  - "10"
addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - gcc-4.8
    - g++-4.8
env:
  - CXX=g++-4.8 NODE_ENV=test DATABASE_USERNAME_TEST=postgres DATABASE_PASSWORD_TEST='' DATABASE_NAME_TEST=kails_test DATABASE_HOST_TEST=localhost
services:
  - postgresql
  - redis-server
install:
  - yarn install
before_script:
  - psql -c 'create database kails_test;' -U postgres
script:
  - npm run lint
  - npm test
