extends ../layout/layout.pug

block content
  h1 Edit Article
  include ./form.pug
block dynamicJs
  script(src=helpers.assetUrl('editor.js'))
block dynamicCss
  link(rel='stylesheet' href=helpers.assetUrl('editor.css'))
