extends ../layout/layout.pug

block content
  h1 New Article
  form(action="/articles" method="post")
    #article
      article.article
        .article-title
          input(type="hidden" name="_csrf" value=csrf)
          input(type="text" name="title" class="form-control" placeholder="Article Title" required autofocus)
        .article-content
          textarea(class="textarea" name="content" placeholder="Article Content" class="form-control")
        button(class="btn btn-info btn-block" type="submit") Save
