extends ../layout/layout.pug

block content
  #article
    article.article
      h1.article-title
        = article.title
      .article-info 
        | about haha
      .article-content
        p
          = article.content
