extends ../layout/layout.pug

block content
  .center-block
    h1 Edit Password
  .row
    form.form-signin(action="/password" method="post")
      input(type="hidden" name="_method" value='PUT')
      input(type="hidden" name="_csrf" value=csrf)
      label(for="inputPassword" class="sr-only") Old Password
      input(type="password" name="oldPassword" id="inputOldPassword" class="form-control" placeholder="Old Password" required)
      label(for="inputPassword" class="sr-only") Password
      input(type="password" name="password" id="inputPassword" class="form-control" placeholder="New Password" required)
      label(for="inputPasswordConfirmation" class="sr-only") Password Confirmation
      input(type="password" name="passwordConfirmation" id="inputPasswordConfirmation" class="form-control" placeholder="New Password Confirmation" required)
      button(class="btn btn-lg btn-info btn-block" type="submit") Save
