extends ../layout/layout.pug

block content
  #article
    article.article
      h1.article-title
        = title
      .article-info 
        | about haha
      .article-content
        p 量越来越大后开始使用负载均衡来提高网站的并发数，负载均衡有很多选择，可以使用现成的slb产品，也可以使用nginx进行代理转发流量，使用后发现一个问题，服务器上获取的用户ip变成
        p 量越来越大后开始使用负载均衡来提高网站的并发数，负载均衡有很多选择，可以使用现成的slb产品，也可以使用nginx进行代理转发流量，使用后发现一个问题，服务器上获取的用户ip变成
        p 量越来越大后开始使用负载均衡来提高网站的并发数，负载均衡有很多选择，可以使用现成的slb产品，也可以使用nginx进行代理转发流量，使用后发现一个问题，服务器上获取的用户ip变成

