html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: "Helvetica Neue", "Microsoft YaHei", SimHei, Helvetica, Arial, sans-serif !important;
  font-size: 15px;
  color: #34495e;
  line-height: 1.6;
  margin-bottom: 100px;
}

::selection {
  color: #FFFFFF;
  background-color: #42b983;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  font-weight: bold;
  color: #34495e;
}

h1 {
  font-size: 2em;
}

a, a:active, a:hover {
  color: #2c3e50;
  text-decoration: none;
}

a:hover {
  border-bottom: 2px solid #42b983;
}

.navbar .navbar-header {
  float: none;
  text-align: center;
  margin-bottom: 10px;
}

.navbar-container {
  text-align: center;
}

.navbar .navbar-nav {
  margin-top: 2px;
}

.navbar .navbar-nav.navbar-menu,
.navbar .navbar-nav.navbar-right {
  float: none;
  margin-right: 10px;
  display: inline-block;
}

.navbar .navbar-nav.navbar-menu li,
.navbar .navbar-nav.navbar-right li{
  display: inline-block;
}

.navbar .container{
  min-height: 160px;
  padding: 20px 20px;
}

.navbar .navbar-nav li {
  padding: 15px;
}

.navbar a.nav-item {
  padding: 0;
  color: #2c3e50;
  text-decoration: none;
  font-size: 16px;
  line-height: 1.4;
}

.navbar a.nav-item.active {
  border-bottom: 2px solid #42b983;
}

.navbar a.nav-item:hover {
  border-bottom: 2px solid #42b983;
  background: transparent;
}

.navbar .nav-logo {
  display: inline-block;
  width: 50px;
  height: 50px;
  text-align: center;
  background: #10c577;
  color: #fff;
  font-size: 30px;
  border-radius: 5px;
  text-decoration: none;
}

.navbar .nav-name {
  margin-left: 10px;
  font-size: 20px;
}

.navbar .nav-logo:hover {
  color: #fff;
}

.footer {
  padding: 40px 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
}

.footer p:last-child {
  margin-bottom: 0;
}

.request-error {
  text-align: center;
}

.request-error h1 {
  font-size: 3em;
  padding: 20px;
}

.request-error h2 {
  font-weight: normal;
}

.articles {
  margin-top: 1em;
}

.articles .article {
  padding: 1em 0.65em 2em;
  border-bottom: 1px solid #ddd;
}

.article:last-child {
    border-bottom: 0px;
}

.article .article-title {
  margin: 0.65em 0;
  color: #2c3e50;
  font-size: 1.5em;
}

.article .article-info {
  color: #7f8c8d;
  margin: 1.2em 0;
}

.article .read-more {
  color: #42b983;
  border: none;
  cursor: pointer;
}

.center-block {
  text-align: center;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}

.form-signin .checkbox {
  font-weight: normal;
}

.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input {
  margin-bottom: 15px;
}

.form-signin button[type="submit"] {
  margin-top: 40px;
}

@media (min-width: 768px) {
  .container {
    width: 710px;
  }

  .navbar .container{
    min-height: 110px;
  }

  .navbar-container {
    text-align: left;
  }

  .navbar .navbar-header {
    float: left;
    text-align: left;
    margin-right: 20px;
  }

  .navbar .navbar-nav.navbar-right {
    float: right;
    text-align: left;
  }
}

