extends ../layout/layout.pug

block content
  .center-block
    h1 Login To Kails
  .row
    form.form-signin(action="/users/sign_in" method="post")
      input(type="hidden" name="_csrf" value=csrf)
      label.sr-only(for="inputEmail") Email address
      input(type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus)
      label(for="inputPassword" class="sr-only") Password
      input(type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required)
      //.checkbox
      //label
      //  input(type="checkbox" value="remember-me")
      //  | Remember me
      button(class="btn btn-lg btn-info btn-block" type="submit") Sign in
