.sidebar-module.sidebar-module-inset
  #logo K
  p Welcome to Kail New Blog
.sidebar-module
  h4 Archives
  ol.list-unstyled
    li
      a(href="#") March 2014
    li
      a(href="#") March 2014

.sidebar-module
  h4 Contact
  ol.list-unstyled
    li
      a(href="https://www.embbnux.com") Embbnux
    li
      a(href="https://github.com/embbnux") Github
    li
      a(href="/users/sign_in") SignIn