html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: "Helvetica Neue", "Microsoft YaHei", Helvetica, Arial, sans-serif !important;
  font-size: 15px;
  color: #34495e;
  line-height: 1.6;
  margin-bottom: 100px;
}

::selection {
  color: #ffffff;
  background-color: #42b983;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  font-weight: bold;
  color: #34495e;
}

h1 {
  font-size: 2em;
}

a, a:active, a:hover {
  position: relative;
  color: #2c3e50;
  text-decoration: none;
}

a:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: #42b983;
  visibility: hidden;
  transform: scaleX(0);
  transition: 0.3s ease-in-out;
}

a:hover:after {
  visibility: visible;
  transform: scaleX(1);
}
.navbar {
  margin-bottom: 0;
}

.navbar .navbar-header {
  float: none;
  text-align: center;
  margin-bottom: 10px;
}

.navbar-container {
  text-align: center;
}

.navbar .navbar-nav {
  margin-top: 2px;
}

.navbar .navbar-nav.navbar-menu,
.navbar .navbar-nav.navbar-right {
  float: none;
  margin-right: 10px;
  display: inline-block;
}

.navbar .navbar-nav.navbar-menu li,
.navbar .navbar-nav.navbar-right li {
  display: inline-block;
}

.navbar .container {
  min-height: 160px;
  padding: 20px;
}

.navbar .navbar-nav li {
  padding: 15px;
}

.navbar a.nav-item {
  padding: 0;
  color: #2c3e50;
  text-decoration: none;
  font-size: 16px;
  line-height: 1.4;
}

.navbar a.nav-item.active:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: #42b983;
  visibility: visible;
  transform: scaleX(1);
}

.navbar a.nav-item:hover {
  background: transparent;
}

.navbar .dropdown a.nav-item:hover {
  background: transparent;
  border-bottom: none;
}

.navbar .navbar-nav .user-menu li {
  display: block;
  padding: 5px;
}

.navbar .navbar-nav .user-menu li:hover {
  background-color: #f5f5f5;
}

.navbar .navbar-nav .user-menu a:hover {
  background: transparent;
  border-bottom: none;
}

.navbar .nav-logo {
  display: inline-block;
  width: 50px;
  height: 50px;
  text-align: center;
  background: #10c577;
  color: #fff;
  font-size: 30px;
  border-radius: 5px;
  text-decoration: none;
}

.navbar .nav-name {
  margin-left: 10px;
  font-size: 20px;
}

.navbar .nav-logo:hover {
  color: #fff;
}

.footer {
  padding: 40px 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
}

.footer p:last-child {
  margin-bottom: 0;
}

.request-error {
  text-align: center;
}

.request-error h1 {
  font-size: 3em;
  padding: 20px;
}

.request-error h2 {
  font-weight: normal;
}

.center-block {
  text-align: center;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}

.form-signin .checkbox {
  font-weight: normal;
}

.form-signin .form-control {
  position: relative;
  height: auto;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input {
  margin-bottom: 15px;
}

.form-signin button[type="submit"] {
  margin-top: 40px;
}

@media (min-width: 768px) {
  .container {
    width: 710px;
  }

  .navbar .container {
    min-height: 110px;
  }

  .navbar-container {
    text-align: left;
  }

  .navbar .navbar-header {
    float: left;
    text-align: left;
    margin-right: 20px;
  }

  .navbar .navbar-nav.navbar-right {
    float: right;
    text-align: left;
  }
}
